* {
    font-family: 'Manrope', sans-serif;

}


body {
    margin: 0;
}



/* brand name */


nav {
    padding-left: 26rem;
}

ul {
    margin-bottom: 39px;
}

li {
    list-style: none;
    font-size: 31px;
    font-weight: 500;
}


li span {
    font-weight: 100;
    color: rgb(145, 144, 144);
}

/* end of brand name */


/* container div*/

.container {
    display: flex;
    padding-left: 28rem;
    margin-bottom: 75px;
}


.text-div {
    margin-left: -7rem;
}



.text-div h5 {
    color: rgb(31, 123, 204);
    font-size: 15px;
    font-weight: 300;
}

.text-div h1 {
    color: rgb(63, 71, 71);
}

/* end */






/* container holding the price of the earphones and the blue button */
.price-container {
    display: flex;
    gap: 139px;
    margin-bottom: 61px;
}

button {
    background-color: rgb(34 6 172 / 62%);
    border-color: transparent;
    color: white;
    margin-top: 24px;
    width: 103px;
    height: 40px;
}


/* picture of the lady with earphones */
.headphone-pic {

    width: 70%;
    height: auto;
}


/* time header container */

.countdown {

    display: flex;
    justify-content: space-around;
    gap: 18px;

}

.time h2 {
    font-weight: bolder;
    font-size: 28px;
    color: rgb(183, 182, 182);

}

.time {
    text-align: center;
    height: 120px;
    width: 100px;
    border: 1px transparent solid;
    background-color: rgb(250, 249, 249);
}




/* benefits container */

.benefits-box {

    height: 410px;
    width: 100%;
    border: 1px transparent solid;
    background-color: rgb(250, 249, 249);
}

.benefits-box h5 {
    color: rgb(31, 123, 204);
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 56px;
}

.benefits-box h1 {
    color: rgb(63, 71, 71);
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.logo-box h4 {
    font-weight: 800;
    color: rgb(63, 71, 71);
}


/* review container */

.review-box {
    text-align: center;
}

.star-rating {
    width: 7%;
    height: auto;
}

.review-box p {
    color: rgb(152, 152, 152);
}

.review-box p span {
    color: rgb(63, 71, 71);
    font-weight: bolder;
}